body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #733635;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

img.avatar {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  object-fit: cover;
}
.ex1 {
  position: absolute;
  float: right;
  margin-left: 400px;
} 
div#para1 {
  font-size: 0.7rem;
  font-style: italic;
}

.message-avatar { 
  height: 5em;
  width: 5em;
  object-fit: cover;
  border-radius: 50%; 
}
.media-body { position: relative; }
.profile { padding-left:2em;
  border:2px solid #ccc; width:600px; height: 100px; overflow-y: scroll;}
  figure {
    position: relative;
  }
  figure figcaption {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    padding: 15px;
    font-style: oblique;
    font-size: smaller;
    mix-blend-mode: soft-light;
  }

.chip {
  background: #afafaf;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 0 0.5em;
}

.chip .fa {
  margin-right: 4px;
}

.has-backdrop {
  background: rgba(115, 54, 53, 0.05);
  border-radius: 4px 4px 0 0;
  margin: -0.6rem -1.3em;
}

.profile-chips {
  display: flex;
  flex-wrap: nowrap;
}

.profile-chips .has-chip {
  flex: 1;
  font-size: 0.8em;
  text-align: center;
}