{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section game-page">
  <div class="top-section">
    <img class="backdrop" style="max-height: 20em;" src="{{ game.image_path }}" alt="{{ game.title }}">
    <div class="backdrop"></div>
  </div>
  <div class="main-content">
    <div class="">
      <h1>{{ game.title }}</h1>
      <a href="{{ game.image_path }}" target="_blank">
        <img src="{{ game.image_path }}" alt="{{ game.title }}">
      </a>
      <p>
        {% if not playthroughss.exists %}
        <i>This game has no playthroughs.</i>
        <br>
        {% endif %}
        {% if not guidebooks.exists %}
        <i>This game has no guidebooks.</i>
        <br>
        {% endif %}
        <br>
        {% if not reviews.exists %}
        <i>This game has no reviews yet.</i>
        <br>
        {% else %}
        <div>
          <b>Average Rating:</b>
          {% for class_name in review_classes %}
          <div class="{{ class_name }}"></div>
          {% endfor %}
        </div>
        {% endif %}
        <br>
        <b>Description:</b>
        <i>{{ game.description }}</i>
        <br>
        <b>Price:</b>
        <i>${{ game.cost }}</i>
      </p>
      {% if reviews %}
      <hr>
      <h5>Reviews ({{ reviews | length }})</h5>
      <div class="media-list" style="padding: 0">
        {% for review in reviews %}
        <div class="media">
          <a class="pull-left" href="{% url 'profile' review.author.id %}">
            <img class="message-avatar" src="{{ review.author.profile.avatar }}" alt="{{ the_user.username }}">
            <!-- <img class="media-object rounded-circle"  src="{{ profile.avatar }}" alt="{{ the_user.username }}"> -->
          </a>
          <div class="media-body">
            <div class="well well-lg">
              <h2><a class="media-heading text-uppercase reviews"
                  href="{% url 'review-detail' review.id %}">{{ review.title }}</a></h2>
              <a class="mr-2" href="{% url 'profile' review.author.id %}">{{ review.author }}</a>
              <small class="text-muted">{{ review.date_reviewed|date:"F d, Y" }}</small>
              <p class="media-comment">
                {{ review.content }}
              </p>
              <p><i class="fa fa-thumbs-up"></i> Like/Dislike ratio: {{ review.get_average }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- TODO: List all reviews, with user profile pics and stars -->
      {% endif %}

      {% if playthroughss %}
      <hr>
      <h5>Playthroughs ({{ playthroughss | length }})</h5>
      <div class="media-list" style="padding: 0">
        {% for playthroughs in playthroughss %}
        <div class="media">
          <a class="pull-left" href="{% url 'profile' playthroughs.author.id %}">
            <img class="message-avatar" src="{{ playthroughs.author.profile.avatar }}" alt="{{ the_user.username }}">
            <!-- <img class="media-object rounded-circle"  src="{{ profile.avatar }}" alt="{{ the_user.username }}"> -->
          </a>
          <div class="media-body">
            <div class="well well-lg">
              <h3>
                <a class="media-heading reviews"
                  href="{% url 'playthrough-detail' playthroughs.id %}">{{ playthroughs.title }}</a></h2>
                <a class="mr-2" href="{% url 'profile' playthroughs.author.id %}">{{ playthroughs.author }}</a>
                <small class="text-muted">{{ playthroughs.date_posted|date:"F d, Y" }}</small>
                <p class="media-comment">
                  {{ playthroughs.content }}
                </p>
                <p><i class="fa fa-thumbs-up"></i> Like/Dislike ratio: {{ playthroughs.get_average }}</p>
            </div>
          </div>
        </div>
        <video controls>
          <source src='{{ MEDIA_URL }}{{ playthroughs.videofile }}' type='video/mp4'>
          Your browser does not support the video tag.
        </video>
        {% endfor %}
      </div>

      {% endif %}
      {% if guidebooks %}
      <hr>
      <h5>Guidebooks ({{ guidebooks | length }})</h5>
      <div class="media-list" style="padding: 0">
        {% for guidebook in guidebooks %}
        <div class="media">
          <a class="pull-left" href="{% url 'profile' guidebook.author.id %}">
            <img class="message-avatar" src="{{ guidebook.author.profile.avatar }}" alt="{{ the_user.username }}">
            <!-- <img class="media-object rounded-circle"  src="{{ profile.avatar }}" alt="{{ the_user.username }}"> -->
          </a>
          <div class="media-body">
            <div class="well well-lg">
              <h2><a class="media-heading text-uppercase guidebooks"
                  href="{% url 'guidebook-detail' guidebook.id %}">{{ guidebook.title }}</a></h2>
              <a class="mr-2" href="{% url 'profile' guidebook.author.id %}">{{ guidebook.author }}</a>
              <small class="text-muted">{{ guidebook.date_reviewed|date:"F d, Y" }}</small>
              <p class="media-comment">
                {{ guidebook.content }}
              </p>
              <p><i class="fa fa-thumbs-up"></i> Like/Dislike ratio: {{ guidebook.get_average }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- TODO: List all reviews, with user profile pics and stars -->
      {% endif %}
      <hr>
      <a class="btn btn-primary" href="{% url 'review-create' game=game.id %}">Leave a Review</a>
      <a class="btn btn-primary" href="{% url 'playthrough-create' game=game.id %}">Post a Playthrough</a>
      <a class="btn btn-primary" href="{% url 'guidebook-create' game=game.id %}">Post a Guidebook</a>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  $(function () {
    $('#starsInput').on('input', function () {
      var val = parseInt($(this).val());
      var stars = $('#stars').children();
      $('#starCount').text(val.toString());
      for (var i = 0; i < val; i++) {
        stars[i].className = "fas fa-star";
      }
      for (var i = val; i < 5; i++) {
        stars[i].className = "far fa-star";
      }
    });
  });
</script>
{% endblock scripts %}