{% extends "review/base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <h1>{{ game.title }}</h1>
  <img style="max-width: 20em;" src="{{ image_url }}" alt="{{ game.title }}">
  <p>
    <br>
    {% if not review_classes %}
    <i>This game has no reviews yet.</i>
    <br>
    {% else %}
    <div>
      <b>Average Rating:</b>
      {% for class_name in review_classes %}
      <div class="{{ class_name }}"></div>
      {% endfor %}
    </div>
    {% endif %}
    <br>
    <b>Description:</b>
    <i>{{ game.description }}</i>
  </p>
  {% if reviews %}
  <hr>
  <h5>Reviews ({{ reviews | length }})</h5>
  <!-- TODO: List all reviews, with user profile pics and stars -->
  {% endif %}
  <hr>
  <h5>Leave a Review...</h5>
  <form action="">
    <div class="form-group">
      <label for="starsInput">Stars (<span id="starCount">3</span> out of 5):</label>
      <div id="stars">
        <div class="fas fa-star"></div>
        <div class="fas fa-star"></div>
        <div class="fas fa-star"></div>
        <div class="far fa-star"></div>
        <div class="far fa-star"></div>
      </div>
      <input id="starsInput" name="stars" class="form-control" step="1" min="1" max="5" value="3" type="range">
    </div>
    <div class="form-group">
      <label for="contentInput">Explain your review:</label>
      <textarea class="form-control" placeholder="Type here..." name="content" id="contentInput" rows="5"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}

{% block scripts %}
<script>
  $(function () {
    $('#starsInput').on('input', function () {
      var val = parseInt($(this).val());
      var stars = $('#stars').children();
      $('#starCount').text(val.toString());
      for (var i = 0; i < val; i++) {
        stars[i].className = "fas fa-star";
      }
      for (var i = val; i < 5; i++) {
        stars[i].className = "far fa-star";
      }
    });
  });
</script>
{% endblock scripts %}