{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <h1>{{ game.title }}</h1>
  <img style="max-height: 20em;" src="{{ game.image_path }}" alt="{{ game.title }}">
  <p>
  <br>
    {% if not playthroughss.exists %}
    <i>This game has no playthroughs.</i>
    <br>
    {% endif %}
  {% if playthroughss %}
  <hr>
  <h5>playthroughs ({{ playthroughss | length }})</h5>
      <ul class="media-list">
      {% for playthroughs in playthroughss %}
        <li class="media">
          <a class="pull-left" href="{% url 'profile' playthroughs.author.id %}">
            <img class="media-object rounded-circle"  src="{{ playthroughs.author.profile.avatar }}" alt="{{ the_user.username }}">
            <!-- <img class="media-object rounded-circle"  src="{{ profile.avatar }}" alt="{{ the_user.username }}"> -->
          </a>
          <div class="media-body">
            <div class="well well-lg">
                <h2><a class="media-heading text-uppercase reviews" href="{% url 'playthrough-detail' playthroughs.id %}">{{ playthroughs.title }}</a></h2>
                <a class="mr-2" href="#">{{ playthroughs.author }}</a>
                <small class="text-muted">{{ playthroughs.date_posted|date:"F d, Y" }}</small>
                <p class="media-comment">
                  {{ playthroughs.content }}
              </p>
              <br><br>
                <video width='400' controls>
                <source src='{{ MEDIA_URL }}{{ playthroughs.videofile }}' type='video/mp4'>
                Your browser does not support the video tag.
                </video>
                <br><br>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
  
  {% endif %}
    <br>
    {% if not reviews.exists %}
    <i>This game has no reviews yet.</i>
    <br>
    {% else %}
    <div>
      <b>Average Rating:</b>
      {% for class_name in review_classes %}
      <div class="{{ class_name }}"></div>
      {% endfor %}
    </div>
    {% endif %}
    <br>
    <b>Description:</b>
    <i>{{ game.description }}</i>
  </p>
  {% if reviews %}
  <hr>
  <h5>Reviews ({{ reviews | length }})</h5>
      <ul class="media-list">
      {% for review in reviews %}
        <li class="media">
          <a class="pull-left" href="{% url 'profile' review.author.id %}">
            <img class="message-avatar"  src="{{ review.author.profile.avatar }}" alt="{{ the_user.username }}">
            <!-- <img class="media-object rounded-circle"  src="{{ profile.avatar }}" alt="{{ the_user.username }}"> -->
          </a>
          <div class="media-body">
            <div class="well well-lg">
                <h2><a class="media-heading text-uppercase reviews" href="{% url 'review-detail' review.id %}">{{ review.title }}</a></h2>
                <a class="mr-2" href="#">{{ review.author }}</a>
                <small class="text-muted">{{ review.date_reviewed|date:"F d, Y" }}</small>    
                <p class="media-comment">
                  {{ review.content }}
                </p>
            </div>              
          </div>
        </li>
      {% endfor %}
      </ul>
  <!-- TODO: List all reviews, with user profile pics and stars -->
  {% endif %}
  <hr>
  <a class="btn btn-primary" href="{% url 'review-create' game=game.id %}">Leave a Review</a>
  <a class="btn btn-primary" href="{% url 'playthrough-create' game=game.id %}">Post a Playthrough</a>
</div>
{% endblock content %}

{% block scripts %}
<script>
  $(function () {
    $('#starsInput').on('input', function () {
      var val = parseInt($(this).val());
      var stars = $('#stars').children();
      $('#starCount').text(val.toString());
      for (var i = 0; i < val; i++) {
        stars[i].className = "fas fa-star";
      }
      for (var i = val; i < 5; i++) {
        stars[i].className = "far fa-star";
      }
    });
  });
</script>
{% endblock scripts %}
