{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="has-backdrop">
        <h1 style="display: block; padding: 0.5em 0; text-align: center;">
            {% if the_user.profile.avatar %}
            <img src="{{ the_user.profile.avatar }}" alt="{{ the_user.username }}" class="avatar">
            {% else %}
            <i class="fa fa-user"></i>
            {% endif %}
            {{ the_user.username }}
        </h1>
        <div class="profile-chips">
            <div class="has-chip">
                <div class="chip">
                    <i class="fa fa-smile-o"></i>
                    Karma
                </div>
                {{ the_user.profile.get_karma }}
            </div>
            <div class="has-chip">
                <div class="chip">
                    <i class="fa fa-star"></i>
                    Reviews
                </div>
                {{ reviews | length }}
            </div>
            <div class="has-chip">
                <div class="chip">
                    <i class="fa fa-gamepad"></i>
                    Playthroughs
                </div>
                {{ playthroughs | length }}
            </div>
        </div>
        <br>
        {% if not the_user.profile.bio %}
        <p style="text-align: center">
            <i>{{ the_user.username }} has not yet added a bio.</i>
        </p>
        {% else %}
        <p style="text-align: center">
            <b>Bio:</b>
            {{ the_user.profile.bio }}
        </p>
        {% endif %}
    </div>
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% if the_user.id == user.id %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="fileInput">Set a new profile picture:</label>
            <input class="form-control-file" type="file" name="avatar" id="fileInput">
        </div>
        <div class="form-group">
            <label for="bioInput">Your Bio:</label>
            <textarea id="bioInput" class="form-control" placeholder="Write a bio..."
                name="bio">{{ the_user.profile.bio }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endif %}
<div class="user-made-content">
    <p>Links to reviews made by {{ the_user.username }}</p>
    <div class="profile">
        {% for review in reviews %}
        <a href="{{ review.get_absolute_url }}">
            <sp> {{ review.title }}
        </a> <br>
        {% endfor %}
    </div>

    <p>Links to playthroughs posted by {{ the_user.username }}</p>
    <div class="profile">
        {% for playthrough in playthroughs %}
        <a href="{{ playthrough.get_absolute_url }}">{{ playthrough.title }}</a> <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}