{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h1>
        {% if the_user.profile.avatar %}
        <img src="{{ the_user.profile.avatar }}" alt="{{ the_user.username }}" class="avatar">
        {% else %}
        <i class="fa fa-user"></i>
        {% endif %}
        {{ the_user.username }}
    </h1>
    <h2>Total Karma {{ the_user.profile.get_karma }}</h2>
    {% if not the_user.profile.bio %}
    <p>
        <i>{{ the_user.username }} has not yet added a bio.</i>
    </p>
    {% else %}
    <p>
        <b>Bio:</b>
        {{ the_user.profile.bio }}
    </p>
    {% endif %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% if the_user.id == user.id %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="fileInput">Set a new profile picture:</label>
            <input class="form-control-file" type="file" name="avatar" id="fileInput">
        </div>
        <div class="form-group">
            <label for="bioInput">Your Bio:</label>
            <textarea id="bioInput" class="form-control" placeholder="Write a bio..."
                name="bio">{{ the_user.profile.bio }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endif %}
<div class="user-made-content">
    <p>Links to reviews made by {{ the_user.username }}</p>
    <div class="profile">
        {% for review in reviews %}
            <a href="{{ review.get_absolute_url }}">   <sp> {{ review.title }}</a> <br>
        {% endfor %}
    </div>

    <p>Links to playthroughs posted by {{ the_user.username }}</p>
    <div class="profile">
        {% for review in reviews %}
            <a href="{{ playthrough.get_absolute_url }}">{{ playthrough.title }}</a> <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}
