{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% load recaptcha3 %}
{% block content %}
  <head>
      {% recaptcha_init %}
      {% recaptcha_ready action_name='signup' %}
  </head>
    <script src="https://www.google.com/recaptcha/api.js?render=_reCAPTCHA_site_key"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('_reCAPTCHA_site_key_', {action: 'homepage'}).then(function(token) {
    });
});
</script>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join the Guru-Nation </legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already a Guru? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}
