{% load static %}
<!DOCTYPE html>
<html style="
    height: 1873px;
">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'review/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  {% if title %}
  <title>Game Guru's Reviews - {{ title }}</title>
  {% else %}
  <title>Game Guru's Reviews</title>
  {% endif %}

</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <img alt="some text" height="60" width="60" src="/static/game_posters/logo.png" style="margin-right:5px;">
        <a class="navbar-brand mr-4" href="{% url 'review-home' %}">Game Reviews
          <div id="para1"></div> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'review-home' %}" style="padding-left: 50px;">Reviews</a>
            <a class="nav-item nav-link" href="{% url 'review-news' %}" style="padding-left: 50px;">News</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">

            <!-- <a class="nav-item nav-link" href="{% url 'search' %}"><img src="/static/game_posters/search.png" height="34" width="34"></a> -->
            <a class="nav-item nav-link" href="{% url 'search' %}">
              <i class="fa fa-search"></i>
            </a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'profile' user.id %}">Profile</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
          <div style="
            padding-right: 0px;
            padding-left: 0px;
            border-left-width: 2px;
            margin-left: 0px;">
            <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3">
                      <font color="white">
                        <p>© Game Guru <br>Tallahassee, FL 32306</p>
                      </font>
                    </div>
                    <div class="col-xs-6 col-sm-3" style="padding-left: 5‒;">

                      <font color="white">
                        <p>Questions or Comments
                        </p>
                      </font>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-xs-6 col-sm-3" style="
            padding-left: 90px;
        ">
                      <font color="white">
                        <p>GURU Directory Assistance:</p>
                      </font>
                    </div>

                    <div class="col-xs-6 col-sm-3" style="
            padding-left: 50px;
            padding-right: 60px;
        ">
                      <nav class="navbar-nav">
                        <ul class="menu clearfix">

                          <li><a class="nav-item nav-link" href="https://youtu.be/CGdHKdQmwL8"
                              title="Follow Game Guru on Youtube" target="_blank"><i class="fa fa-youtube"></i><span
                                class="hidden">YouTube</span></a></li>



                        </ul>
                      </nav>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
    document.getElementById("para1").innerHTML = formatAMPM();

    function formatAMPM() {
      var d = new Date(),
        minutes = d.getMinutes().toString().length == 1 ? '0' + d.getMinutes() : d.getMinutes(),
        hours = d.getHours().toString().length == 1 ? '0' + d.getHours() : d.getHours(),
        ampm = d.getHours() >= 12 ? 'pm' : 'am',
        months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
      return days[d.getDay()] + ' ' + months[d.getMonth()] + ' ' + d.getDate() + ' ' + d.getFullYear();
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>