{% extends "review/base.html" %}
{% block content %}

<h4>Trending Video Games This Week</h4>
<div class="game-table">
    {% for gam in review %}
    {% if forloop.counter < 4 %}
    <div class="game-td">
        <a href="{% url 'game' gam.game.pk %}">
            <img alt="game_name" src="{{gam.game.image_path.url}}
                          " width="184" height="255">
            <div class="caption">
                {{ gam.game.title }}
                <br>
                <p style="color: initial; font-size: 0.8em; text-decoration: none;">
                    Average Rating: {{ gam.score }}
                </p>
            </div>
        </a>
        </di>
        {% endif %}
        {% endfor %}
    </div>

    {% endblock content %}