{% extends "review/base.html" %}
{% block content %}
<h3> This week trending games </h3>
	{% for gam in review %}
	  {% if forloop.counter < 4 %}
      <ul>
          <li>
              <div class=figure>
                  <a href="{% url 'game' gam.pk %}">
					  <img alt="game_name" src="{{gam.game.image_path.url}}
					  " width="184" height="255">
					  <figcaption> {{ gam.game.title }} </figcaption>
					  <figcaption> Rated: {{ gam.score }} </figcaption>
					  
                  </a>
              </div>
          </li>
	  </ul>
	 {% endif %}
  {% endfor %}
{% endblock content %}
