{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ review.author }}</a>
          <small class="text-muted">{{ review.date_reviewed|date:"F d, Y" }}</small>
          {% if review.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-update' review.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' review.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <h2><a class="article-title">{{ review.title }}</a></h2>
        <p class="article-content">{{ review.content }}</p>
      </div>
    </article>
    <div class="comment-section">
      <li class="media">
        {% if user.is_authenticated %}
          <a class="pull-left" href="{% url 'profile' user.id %}">
            <img class="message-avatar"  src="{{ user.profile.avatar }}" alt="{{ the_user.username }}">
          </a>
        <form class="comment_form" method="post" style="margin-top: 1.3em;">
          {{ comment_form }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Send</button>
        </form>
        {% else %}
          <a class="btn btn-primary  btn-lg" href="{% url 'login' %}">Log in to leave a comment</a>
          <a class="btn btn-primary  btn-lg" href="{% url 'register' %}">Register if you don't have an account</a>
        {% endif %}
      </li>
      {% for comment in comments %}
      <li class="media">
        <a class="pull-left" href="{% url 'profile' comment.author.id %}">
          <img class="message-avatar"  src="{{ comment.author.profile.avatar }}" alt="{{ the_user.username }}">
        </a>
        <div class="media-body">
          <div class="well well-lg">
              <h2><a class="media-heading text-uppercase reviews" href="#">{{ comment.author }}</a></h2>
              <small class="text-muted">{{ comment.date_reviewed|date:"F d, Y" }}</small>    
              <p class="media-comment">
                {{ comment.content }}
              </p>
              <button class="btn btn-info btn-circle text-uppercase" id="like"> Like {{ review.likes }}</button>
              <button class="btn btn-warning btn-circle text-uppercase" id="dislike"> Dislike {{ review.dislikes }}</button>
          </div>              
        </div>
      </li>
      {% endfor %}
    </div>
{% endblock content %}
