{% extends "review/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Review </legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
        <h5>Leave a Review...</h5>
        <div class="form-group">
            <label for="starsInput">Stars (<span id="starCount">3</span> out of 5):</label>
            <div id="stars">
                <div class="fa fa-star"></div>
                <div class="fa fa-star"></div>
                <div class="fa fa-star"></div>
                <div class="fa fa-star-o"></div>
                <div class="fa fa-star-o"></div>
            </div>
            <input id="starsInput" name="score" class="form-control" step="1" min="1" max="5" type="range">
        </div>
    </form>
</div>
<script>
    $(function () {
        var $stars = $('#stars div');
        $('#starsInput')
            .val('3')
            .on('input', function () {
                var val = parseInt($(this).val());
                $('#starCount').text($(this).val());
                for (var i = 0; i < val; i++) {
                    $stars[i].classList.remove('fa-star-o');
                    $stars[i].classList.add('fa-star');
                }
                for (var i = val; i < 5; i++) {
                    $stars[i].classList.remove('fa-star');
                    $stars[i].classList.add('fa-star-o');
                }
            });
    });
</script>

{% endblock content %}